<div class="card">
  <form [formGroup]="catsForm" (ngSubmit)="getCats()">
    <p-inputNumber [showButtons]="true" buttonLayout="horizontal"
                   decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
                   formControlName="limit">
    </p-inputNumber>

    <p-button type="submit">Cats!</p-button>
  </form>
</div>

<div class="images p-4">
  <p-image styleClass="w-1/12 m-1" *ngFor="let cat of cats" [src]="cat.url" [preview]="true" alt="Cat Photo" />
</div>
