<form class="p-fluid grid gap-8 w-1/2 py-6 px-4 m-4 rounded-l shadow-2xl"
      [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <span class="p-float-label">
    <input id="email" type="email" formControlName="email" pInputText>
    <label for="email">Email</label>
  </span>

  <span class="p-float-label">
    <p-password id="password" [feedback]="false" formControlName="password"></p-password>
    <label for="password">Password</label>
  </span>

  <button [ngClass]="{'p-button-danger': loginForm.invalid}"
          [icon]="loginForm.valid ? 'pi pi-check' : 'pi pi-times'"
          class="p-button-outlined" type="submit" label="Submit" pButton pRipple></button>
</form>
